In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("train.csv")
df

,EventId,Occurrence Local Date Time,Reporting Agency,Cause,Subcause,Status,longitude,latitude,road_segment_id
0,60558,01/01/16 00:53,Cam,Stationary Vehicle,Vehicle On Shoulder,Closed,18.5408955032,-33.888275,S0B3CGQ
1,60559,01/01/16 00:54,CAMERA,Accident,With A Fixed Object,Closed,18.9307563219,-34.140857,RYJYAPI
2,60560,01/01/16 02:26,Law Enforcement,Accident,Multi Vehicle,Closed,18.5533575029,-33.959154,U3KP57C
3,60561,01/01/16 02:56,CAMERA,Stationary Vehicle,Vehicle On Shoulder,Closed,18.6775561589,-33.895258,RY0TRQ8
4,60562,01/01/16 03:40,CAMERA,Accident,Multi Vehicle,Closed,18.8371319682,-34.087051,8LOVJZ3
...,...,...,...,...,...,...,...,...,...
53840,152136,31/12/18 21:14,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.601735312,-33.989120,CZBWW0Z
53841,152139,31/12/18 21:33,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.5765946661,-33.970978,7AKUBY4
53842,152142,31/12/18 22:01,SAPS,Police and Military,Hijacking,Closed,18.6585756463,-33.949194,YQCBO2Y
53843,152143,31/12/18 22:12,Camera,Stationary Vehicle,Shoulder Lane,Closed,18.6250798029,-33.888283,Z2OSI9E
53844,152149,31/12/18 23:45,SAPS,Stationary Vehicle,Shoulder Lane,Closed,18.6529483529,-33.976858,GFX7S4B

In [8]:
df.shape

(53845, 9)

In [9]:
df.columns

Index(['EventId', 'Occurrence Local Date Time', 'Reporting Agency', 'Cause',
       'Subcause', 'Status', 'longitude', 'latitude', 'road_segment_id'],
      dtype='object')

In [10]:
df.describe()

             EventId      latitude
count   53845.000000  53845.000000
mean   106497.340403    -33.947960
std     27960.354177      0.511146
min     60558.000000    -34.153087
25%     83043.000000    -33.993621
50%    107083.000000    -33.950250
75%    131294.000000    -33.916789
max    152149.000000     18.839681

In [11]:
df.dtypes

EventId                         int64
Occurrence Local Date Time     object
Reporting Agency               object
Cause                          object
Subcause                       object
Status                         object
longitude                      object
latitude                      float64
road_segment_id                object
dtype: object

In [12]:
df = df.rename(columns={
    "Occurrence Local Date Time":"Date_Time",
})
df.head()

,EventId,Date_Time,Reporting Agency,Cause,Subcause,Status,longitude,latitude,road_segment_id
0,60558,01/01/16 00:53,Cam,Stationary Vehicle,Vehicle On Shoulder,Closed,18.5408955032,-33.888275,S0B3CGQ
1,60559,01/01/16 00:54,CAMERA,Accident,With A Fixed Object,Closed,18.9307563219,-34.140857,RYJYAPI
2,60560,01/01/16 02:26,Law Enforcement,Accident,Multi Vehicle,Closed,18.5533575029,-33.959154,U3KP57C
3,60561,01/01/16 02:56,CAMERA,Stationary Vehicle,Vehicle On Shoulder,Closed,18.6775561589,-33.895258,RY0TRQ8
4,60562,01/01/16 03:40,CAMERA,Accident,Multi Vehicle,Closed,18.8371319682,-34.087051,8LOVJZ3

In [13]:
for i in df['longitude']:
    i = float(i)
df["longitude"][0]

ValueError: could not convert string to float: 'Closed'

In [14]:
df['Date_Time'] = df['Date_Time'].astype("datetime64")

In [15]:
df['longitude'] = df['longitude'].astype("float64")

ValueError: could not convert string to float: 'Closed'

In [ ]:
df.dtypes

In [ ]:
df.Status.unique()

In [ ]:
df.EventId.nunique()
#no duplicates

In [ ]:
df.Status.value_counts(normalize=True).plot.barh();

In [ ]:
df = df.drop(["Status", "EventId", "Cause", "Reporting Agency", "Subcause"], axis = 1)

In [ ]:
df

In [ ]:
df.road_segment_id.value_counts(normalize=True).plot.barh();

In [ ]:
#df.sort_values(by = "road_segment_id")

In [ ]:
df.longitude[df.road_segment_id == "S0B3CGQ"]

In [ ]:
df.latitude[df.road_segment_id == "S0B3CGQ"]

In [ ]:
import missingno as msno

msno.matrix(df);

In [ ]:
print(df.isnull().sum())

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(df.latitude, kde=False);

In [ ]:
ax = sns.boxplot(x=df["latitude"])

In [ ]:
df.latitude.unique()

In [ ]:
df = df[df.latitude < 15]
df

In [ ]:
ax = sns.boxplot(x=df["latitude"])

In [ ]:
#df.Date_Time.value_counts(normalize=True).plot.barh();

In [16]:
print("I hope this works")

I hope this works